* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, Roboto, Arial, sans-serif;
    background-color: #15161a;
    color: #ffffff;
}


.material-symbols-rounded.icon {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
    font-size: 1.25rem;
    line-height: 1;
    vertical-align: -0.15em;
}

.material-symbols-rounded.icon.fill {
    font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
}

button .material-symbols-rounded.icon {
    font-size: 1.35rem;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;

    padding: 0;
    margin: 0;
}

#appWrapper {
    overflow-y: visible;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
}

#gridPanel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

    overflow-y: visible;

}

#gridPanel>.draggables {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.5rem;
}

#gridPanel>.draggables>.toDo {
    flex-grow: 1;
    min-width: 25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    position: relative;
}




* {
    scrollbar-width: thin;
    scrollbar-color: #3c3e43 #282a30;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #282a30;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #3c3e43;
    border-radius: 10px;
    border: 1px solid #282a30;
    transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5e5e5e;
}

::-webkit-scrollbar-thumb:active {
    background-color: #cacaca;
}






button,
.honoraryButton {
    padding: 0.5rem;

    color: #7c8187;
    background-color: #282a30;
    border: 1px solid #3c3e43;
    border-radius: 0.5rem;

    cursor: pointer;
    user-select: none;

    transition: 0.2s;
}

button:hover {
    color: #fff;
    transform: translateY(-0.125rem);

    transition: 0.1s;
}

button:active {
    color: #fff;
    transform: translateY(0.0625rem);

    transition: 0.05s;
}

button:hover {
    background-color: #5e5e5e;
}

button:active {
    background-color: #cacaca;
}

button.add:hover {
    background-color: #316841;
}

button.add:active {
    background-color: #00cc2c;
}

button.delete:hover {
    background-color: #70393d;
}

button.delete:active {
    background-color: #d43a3a;
}

button.clear:hover {
    background-color: #70393d;
}

button.clear:active {
    background-color: #d43a3a;
}

button.star:hover {
    background-color: #686331;
}

button.star:active {
    background-color: #cc8b00;
}

button.urgent:hover {
    background-color: #683331;
}

button.urgent:active {
    background-color: #d43a3a;
}

button.color:hover {
    background-color: color-mix(in srgb, #5e5e5e, var(--backgroundColor) 20%);
}

button.color:active {
    background-color: color-mix(in srgb, #cacaca, var(--backgroundColor) 50%);
}


.buttons .colorPallete {
    position: absolute;
    top: 0;
    right: calc(100% + 0.5rem);
    z-index: 1000;
}



/* #region MEDALS */


.medals {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1.5rem;

    pointer-events: none;
}

.medal {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.5rem;
    border-radius: 50%;
    background-color: #282a30;
    color: #fff4;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -0.75rem;
}

.medal:first-child {
    margin-top: 0;
}

.medal .icon {
    font-size: 1rem;
}

.archivedMedal .icon {
    font-size: 0.75rem;
}

.starMedal {
    background-color: #f1a129;
    background: linear-gradient(45deg, #ec6e1a, #ffd23d);
    color: #fffa;
}

.urgentMedal {
    background-color: #d43a3a;
    background: linear-gradient(45deg, #f01212, #f57b18);
    color: #fffa;
}

.archivedMedal {
    background-color: #3c3e43;
    background: linear-gradient(45deg, #3c3e43, #5e5e5e);
    color: #fffa;
}

/* #endregion MEDALS */

/* #region DRAGGING */

.dragHandle {
    position: relative;
    cursor: grab;
    user-select: none;

    background-image: linear-gradient(90deg, #444, #222);
    border: 1px solid color-mix(in srgb, var(--color, #60616a), #60616a 50%);
    border-right: none;

    border-radius: 0.5rem 0 0 0.5rem;

    color: #fff8;

    opacity: 0;

    width: 0rem !important;
    height: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-in-out;

    box-sizing: content-box;

    transform: translateY(-0.5px);
}

.toDo {
    transition: 0.2s ease-in-out;
}

.toDo:hover {
    border-radius: 0 1rem 1rem 0;
}

.toDo:hover>.dragHandle {
    opacity: 1;
    width: 1.5rem !important;
    margin-inline: -1.5rem -0rem !important;
}

.barToDo:hover>.dragHandle {
    opacity: 1;
    width: 1.5rem !important;
    margin-inline: -0.5rem -0.5rem !important;
}

.checkBoxToDo:hover>.dragHandle {
    opacity: 1;
    width: 1.5rem !important;
    margin-inline: -0.5rem -0.5rem !important;
}


.toDo>.dragHandle {
    border-radius: 1rem 0 0 1rem;
}

.dragHandle:hover {
    background-image: linear-gradient(90deg, #555, #222);
}

.dragHandle::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: radial-gradient(#0004 1.5px, transparent 0);
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: center;
    border-radius: 1rem 0 0 1rem;
}

.drag-ghost {
    opacity: 0.5;
}

/* #endregion DRAGGING */





/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari/Opera */
}