.menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu>span.menuOpenButton {
    padding: 0.5rem;

    background-color: #282a30;
    color: #52565a;
    border: 1px solid #3c3e43;
    border-radius: 0.5rem;

    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;

    cursor: pointer;
    user-select: none;

    transition: 0.2s;
}

.menu>span.menuOpenButton:hover {
    color: #fff;
    background-color: #5e5e5e;
    transform: translateY(-0.125rem);
    
    transition: 0.1s;
}

.menu>span.menuOpenButton:active {
    color: #fff;
    background-color: #cacaca;
    transform: translateY(0.0625rem);

    transition: 0.05s;
}

